{% extends 'base.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}
<style>
</style>
<div style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,173,158,1) 35%, rgba(0,212,255,1) 100%); width: 100%; height: 100% ">

<div class="d-flex flex-column gap-5 w-100 h-100 p-5">
    <div class="d-flex w-100 h-75 gap-3" >
        <div style="width: 30%; height: 100%; background-color: #4ee1f0; border: 3px solid black">
            <div class="d-flex flex-column gap-3">
                <div>
                    <img style="object-fit: cover; width:100%; height:100%; border-radius: 50%; background-size: 100% auto; border: 3px solid black" src="/images/homer.jpg">
                </div>
                <div style="margin-top: 50px; font-size: 15px; font-size: 17px">
                    <ul>
                    <li><i class="fa-solid fa-user-tie"></i>Homero fachero</li>
                    <li><i class="fa-solid fa-cake-candles"></i>Edad</li>
                    <li><i class="fa-solid fa-location-dot"></i> Pronvincia de Buenos Aires - ciudad de La Plata</li>
                    <li><i class="fa fa-whatsapp"></i> 7777-7777-7777</li>
                    <li><i class="fa-solid fa-envelope"></i> ejemplo@ejemplo.com</li>
                    </ul>
                </div>
            </div> 
                <div style="position: relative;">
                    <a href="{{path('app_home')}}"><button type="button" class="btn btn-danger btn-sm px-3 me-md-2" style="position: absolute; right: 1px; margin-top: 55px; border: 1px solid black; border-radius: 10px; font-size:15px">Volver al inicio</button></a>
                </div>      
        </div>
        
        <div style="width: 70%; height: 100%; background-color: #487ab5; border: 3px solid black; font-size: 17px">
            <div style="margin-top: 30px; text-align: center">
                <h4 style="margin-top: 30px; margin-bottom: 20px">Expectativas de logro</h4>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet egestas libero. Ut libero nisl, ornare ut dui sed, pellentesque tincidunt nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tortor euismod, congue felis eu, cursus turpis. Aliquam porttitor mollis velit, sit amet dapibus risus congue ut. Suspendisse potenti. Donec dictum pretium sagittis. Etiam cursus nulla consequat dolor venenatis, sed consectetur nibh pulvinar. Vivamus scelerisque dui a sem blandit, at pulvinar ante tincidunt. Duis tristique augue ligula, sed hendrerit ligula lobortis quis. Aliquam tempor laoreet pellentesque.
                </p>
            </div>
            <h4 style="margin-top: 70px; text-align: center; ">Experiencia laboral</h4>
            <table class="table table-striped table-hover" style="border: 1px solid black; margin-top: 27px">
                <thead>
                    <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">tareas</th>
                    <th scope="col">Años de experiencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Ejemplo 1</td>
                    <td>Develop front</td>
                    <td>Tarea 1</td>
                    <td>Antiguedad 1</td>
                    </tr>
                    <tr>
                    <td>Ejemplo 2</td>
                    <td>Develop Back</td>
                    <td>Tarea 2</td>
                    <td>Antiguedad 2</td>
                    </tr>
                    <tr>
                    <td>Ejemplo 3</td>
                    <td>Develop cloud</td>
                    <td>Tarea 3</td>
                    <td>Antiguedad 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-100 h-25 d-flex gap-2 justify-content-between" style="background-color: #FCF3CF; border: 3px solid black; font-size: 17px ">
        <div style="margin-left: 10px; text-align: auto">
            <h4>Formación academica</h4>
                <ul>
                    <li>Ejemplo 1</li>
                    <li>Ejemplo 2</li>
                    <li>Ejemplo 3</li>
                    <li>Ejemplo 4</li>
                    <li>Ejemplo 5</li>
                </ul>
        </div>

        <div>
            <h4>Habilidades</h4>
                <ul>
                    <li>Ejemplo 1</li>
                    <li>Ejemplo 2</li>
                    <li>Ejemplo 3</li>
                    <li>Ejemplo 4</li>
                    <li>Ejemplo 5</li>
                </ul>
        </div>

        <div style="margin-right: 10px; text-align: center">
            <h4>Idiomas</h4>
                <ul>
                    <li>Ejemplo 1</li>
                    <li>Ejemplo 2</li>
                    <li>Ejemplo 3</li>
                </ul>
        </div>
        
    </div>

</div>

</div>
{% endblock %}
